# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Entornos virtuales
venv*/
.env

# Archivos del sistema
.DS_Store

# PyInstaller build
dist/
build/
*.spec

# Archivos generados
presupuestos/
*.pdf

# Certificados y claves
/arca/my_private.key
/arca/my_cert.crt

# Archivos temporales
/arca/TA.xml
/arca/TRA.xml
/arca/TRA.tmp